name: Flutter Web Deploy to Vercel

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.19.0"

      - name: Confirm Flutter install
        run: flutter --version

      - name: Install dependencies
        run: flutter pub get

      - name: Build web
        run: flutter build web

      - name: Push to vercel-deploy branch
        env:
          GIT_AUTH_TOKEN: ${{ secrets.DEPLOY_TOKEN }}
        run: |
          git config --global user.email "github-actions@github.com"
          git config --global user.name "GitHub Actions"
          git remote set-url origin https://x-access-token:${GIT_AUTH_TOKEN}@github.com/${{ github.repository }}
          git checkout --orphan vercel-deploy
          git --work-tree build/web add --all
          git --work-tree build/web commit -m "Deployed to vercel-deploy"
          git push origin HEAD:vercel-deploy --force
